static Config configs[] = {
    {
        /* wifi_name           */ "foo",
        /* wifi_pass           */ "bar",
        /* type                */ mvg_api,
        /* url                 */ "https://www.mvg.de/api/fib/v2/departure?globalId=de:09162:1230&limit=10&offsetInMinutes=0&transportTypes=UBAHN,TRAM,BUS,SBAHN,SCHIFF",
        /* include_line        */ { "U4", "U5" },
        /* exclude_destination */ { "Moon", "Berlin" },
    },
    {
        /* wifi_name           */ "top",
        /* wifi_pass           */ "secret",
        /* type                */ geops_api,
        /* url                 */ "https://example.com",
        /* include_line        */ { "*" },
        /* exclude_destination */ { "Messestadt-Ost" },
    },
    {
        /* wifi_name           */ "work",
        /* wifi_pass           */ "secret",
        /* type                */ mvg_api,
        /* url                 */ "https://www.mvg.de/api/fib/v2/departure?globalId=de:09162:1230&limit=10&offsetInMinutes=0&transportTypes=UBAHN,TRAM,BUS,SBAHN,SCHIFF",
        /* include_line        */ { "U2", "S2", "21" },
        /* exclude_destination */ { },
    },
};
